{{#if server_error}}
<div class="text-danger">
    <p class = "btn-danger text-center"> {{server_error}}</p>
</div>
{{/if}}

{{#if server_success }}
<div class="text-success">
    <p class = "btn-success text-center">
        {{server_success}}
    </p>
</div>
{{/if}}
<div class="d-flex mt-5 mr-5 float-right">
    <a href="/search-user" class="btn btn-primary text-left">Search User</a>
</div>

<div class="d-flex align-items-center justify-content-center h-100">


    <div class="card w-50">

        <div class="card-header">
            <h3 class="mb-0">User Information</h3>
        </div>
        <div class="card-body">
            <form action="/user" method="post" novalidate="novalidate" id="userForm">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Name</label>
                    <div class="col-lg-9">
                        <input class="name form-control" name="name" type="text" placeholder="Enter your name" required="required">
                        <span class="error_name text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="email form-control" name="email" type="email" placeholder="Enter your email"
                            required="required">
                        <span class="error_email text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Salary</label>
                    <div class="col-lg-9">
                        <input class="salary form-control" name="salary" type="number" placeholder="Enter your salary"
                            required="required" data-validate="salary">
                        <span class="error_salary text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="submit" class="submit btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
        <!-- /form user info -->
    </div>
</div>